
<% layout('layout') -%>
	<div class="jumbotron text-center">
		<h1> <%= todo.title  %></h1>
	</div>
	<p><%= todo.content  %></p>
	<img src="/uploads/fullsize/<%= todo.image_path  %>">
	<hr>
	
	<a href="/">Back to Home</a>



